<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="internal-nlog.txt">

  <targets>    
    <target xsi:type="File" 
	name="debug" 
	fileName="debug-${shortdate}.log"
        layout="${longdate}|${event-properties:item=EventId.Id}|${uppercase:${level}}|${logger}|${message} ${exception}" />        		  
  </targets>

  <rules>    
    <logger name="*" minlevel="Debug" writeTo="debug" />
  </rules>
</nlog>